@model SpringHeroBankClient.ServiceReference1.Account

@{
    ViewBag.Title = "Transfer";
}

<h2>Transfer</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Account</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2" for="ReceiverAccountNumber">ReceiverAccountNumber</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="ReceiverAccountNumber" name="ReceiverAccountNumber" type="text">
                <span class="field-validation-valid text-danger" data-valmsg-for="ReceiverAccountNumber" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Token">Amount</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Amount" name="Amount" type="text">
                <span class="field-validation-valid text-danger" data-valmsg-for="Amount" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Details", "Details")
</div>
